version: '3.8'

services:
  backend:
    build: ./backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
    volumes:
      - "${SEARCH_FOLDER}:/app/images"

  frontend:
    image: node:21-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    command: sh -c "npm install -g pnpm && pnpm install && pnpm dev"